<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.auth0.samples.kotlinapp">

    <uses-permission android:name="android.permission.INTERNET" />

<application
    android:name=".MyApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/appName"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true">
    <!-- the cleartext is only temporary to test the local nodejs server, remove in production -->

    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <category android:name="android.intent.category.LAUNCHER" />
            <!-- https://developer.android.com/training/app-links/deep-linking -->
            <!-- Accepts URIs that begin with "https://www.example.com/gizmos” -->
            <data android:scheme="@string/auth0CallbackScheme"
                android:host="@string/auth0Domain"
                android:pathPrefix="@string/auth0CallbackUrl" />
            <!-- note that the leading "/" is required for pathPrefix-->

        </intent-filter>
    </activity>

    <activity android:name=".HomeActivity" />

    <!-- Native authorization screen of Auth0 -->
    <activity
        android:name="com.auth0.android.lock.LockActivity"
        android:label="@string/appName"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:theme="@style/Lock.Theme" />
</application>

</manifest>